div.footer {
	margin-top: 32px;
	padding: 64px 64px;
	font-size: 0.9rem;
	background: #b60005;
	color: #fff;

	div.footer_item_container {
		font-size: 0;
	}
	div.footer_item {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		line-height: 1.7;
	}
}

div.footer *::selection {
	background: rgba(255, 255, 255, 0.5);
	color: #fff;
}

div.footer_item {
	div {
		padding-bottom: 16px;
	}
	a {
		color: inherit;
	}
	div.left,
	div.right {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: 0.8rem;
		padding-right: 16px;
	}
	div.left {
		font-weight: bold;
	}
}
div.footer_desc {
	position: relative;
	color: #fff;
	line-height: 36px;
	margin-top: 32px;
	ul {
		display: inline-block;
	}
	span.copyright {
		display: inline-block;
		padding-right: 18px;
		font-size: 0.8rem;
	}
	li {
		display: inline-block;
		padding-right: 18px;
		font-weight: bold;
		font-size: 0.8rem;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	li a {
		color: inherit;
	}
}

img.footer_logo {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 36px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
