@import "./fonts.scss";

@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1");

* {
  box-sizing: border-box !important;
  font-family: Metropolis, "Pretendard", "Sans-serif", sans-serif !important;
}

body {
  max-width: 1600px;
  background: #f1f1f1;
  line-height: 1.2;
  letter-spacing: -0.02ch;
}

a {
  text-decoration: none;
  color: black;
}
