/*
	Main Contents
*/

div.contents_container {
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 1600px;
}

div.contents {
  z-index: 1000;
  margin-top: 72px;
  line-height: 1.4;
}

div.contents > img {
  width: 100%;
}

div.pad {
  padding: 32px 64px;
}

.pad_v {
  padding: 32px 0;
}

.pad_h {
  padding: 0 64px;
}

div.main_title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.05ch;
  line-height: 0.9;
  margin-bottom: 32px;
}

p.main_desc {
  line-height: 1.4;
}

span.subtitle {
  display: block;
  margin-bottom: 16px;
  color: #b60005;
  font-weight: bold;
}

.urgent {
  background: #b60005;
  color: #fff;
}

.urgent h2 {
  color: #fff;
}

.urgent .material-icons.main {
  color: #fff;
}

.bg,
.fader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fg {
  position: relative;
  z-index: 2;
}

.fader {
  background: rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3rem !important;
  letter-spacing: -0.07ch;
  line-height: 1.2;
}

h2 {
  font-size: 1.4rem !important;
  color: #b60005;
}

h3 {
  font-size: 1.4rem;
}

div.hr {
  margin: 32px 64px;
  border-bottom: 1px dashed #ddd;
}

div.hl {
  margin: 32px 0;
  border-bottom: 1px solid #ddd;
}

div.first_paragraph > .p75 {
  font-size: 1.4rem;
}

img.pad {
  margin: 32px 0;
}

span.contest_section {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}

div.button_container {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 16px;
}

div.button_container:last-child {
  margin-bottom: 0;
}

div.button {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 16px;
  border: 1px solid #b60005;
  color: #b60005;
  text-decoration: none;
  margin-right: 8px;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

div.button:hover {
  background: #b60005;
  color: #fff;
}

.material-icons.main {
  font-size: inherit;
  line-height: inherit;
  color: #b60005;
  text-decoration: none;
}

i.award {
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  font-style: normal;
  vertical-align: super;
  font-size: 0.7rem;
}

i.award.winner {
  color: #ff8800;
  font-size: 0.9rem;
}

i.award.advanced {
  color: #30d10f;
}

i.award.gold {
  color: #ffc400;
}

i.award.silver {
  color: #a7a7a7;
}

i.award.bronze {
  color: #ac6d0f;
}

a.apply_button {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  text-decoration: none;
  border: 1px solid #b60005;
  padding: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  vertical-align: top;
  transition: background 0.3s ease, color 0.3s ease;
}

a.apply_button:hover {
  color: white;
}

span.apply_tier {
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 16px;
  vertical-align: middle;
}

div.tier {
  display: inline-block;
  margin-right: 8px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-bottom: 16px;
  vertical-align: middle;
  transition: background 0.3s ease;
}

a.apply_button:hover div.tier {
  background: white !important;
}

p.apply_algorithms {
  color: #b60005;
  font-size: 0.8rem;
  transition: color 0.3s ease;
}

a.apply_button:hover p.apply_algorithms {
  color: white !important;
}

a.apply_button.bronze {
  border: 1px solid #ac6d0f;
}

a.apply_button.bronze:hover {
  background: #ac6d0f;
}

a.apply_button.bronze p.apply_algorithms {
  color: #ac6d0f;
}

div.tier.bronze {
  background: #ac6d0f;
}

a.apply_button.silver {
  border: 1px solid #a7a7a7;
}

a.apply_button.silver:hover {
  background: #a7a7a7;
}

a.apply_button.silver p.apply_algorithms {
  color: #a7a7a7;
}

div.tier.silver {
  background: #a7a7a7;
}

a.apply_button.gold {
  border: 1px solid #ffc400;
}

a.apply_button.gold:hover {
  background: #ffc400;
}

a.apply_button.gold p.apply_algorithms {
  color: #ce9e00;
}

div.tier.gold {
  background: #ffc400;
}

a.apply_button.platinum {
  border: 1px solid #dcdddd;
}

a.apply_button.platinum:hover {
  background: #b8b8b8;
  border: 1px solid #b8b8b8;
}

a.apply_button.platinum p.apply_algorithms {
  color: #b8b8b8;
}

div.tier.platinum {
  background: #dcdddd;
}

ul.tabs {
  display: block;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 8px;
}

ul.tabs::-webkit-scrollbar {
  height: 5px;
}

ul.tabs::-webkit-scrollbar-track {
  background: #fff;
}

ul.tabs::-webkit-scrollbar-thumb {
  background: #eee;
}

ul.tabs::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

ul.tabs li {
  display: inline-block;
  font-size: 2rem;
  color: #ddd;
  margin-right: 16px;
  transition: 0.3s color ease;
  cursor: pointer;
}

ul.tabs li span.tab_text {
  transition: 0.3s border-bottom ease;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

ul.tabs li.selected {
  color: #000;
  font-weight: bold;
}

ul.tabs li.selected span.tab_text {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

div.footer {
  margin-top: 32px;
  padding: 64px 64px;
  font-size: 0.9rem;
  background: #b60005;
  color: #fff;
}

div.footer *::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}

div.footer div.footer_item_container {
  font-size: 0;
}

div.footer div.footer_item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  line-height: 1.7;
}

div.footer_item > div {
  padding-bottom: 16px;
}

div.footer_item a {
  color: inherit;
}

div.footer_item div.left,
div.footer_item div.right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 0.8rem;
  padding-right: 16px;
}

div.footer_item div.left {
  font-weight: bold;
}

div.footer_desc {
  position: relative;
  color: #fff;
  line-height: 36px;
  margin-top: 32px;
}

div.footer_desc ul {
  display: inline-block;
}

div.footer_desc span.copyright {
  display: inline-block;
  padding-right: 18px;
  font-size: 0.8rem;
}

div.footer_desc li {
  display: inline-block;
  padding-right: 18px;
  font-weight: bold;
  font-size: 0.8rem;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.footer_desc li a {
  color: inherit;
}

img.footer_logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.k512_gate {
  width: 100%;
  background: #b60005;
}

.k512_login_form {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  div.pad {
    padding: 32px 32px;
  }
  .pad_v {
    padding: 32px 0;
  }
  .pad_h {
    padding: 0 32px;
  }
  div.hr {
    margin: 32px 32px;
  }
  div.footer {
    padding: 64px 32px;
  }
  div.footer div.footer_item {
    display: block;
    width: 100%;
  }
}
